<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/now-basic-app-layout/styles/app-theme.html">

<!-- Application theme. Includes global colors and CSS mixins. -->

<style is="custom-style" include="iron-flex iron-flex-alignment">

	:root {
		/** See ../bower_components/now-basic-app-layout/app-theme.html for styles that you can override here. **/
	}
</style>
