<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/now-basic-app-layout/now-basic-app-layout.html">

<!-- Authentication code for Domino; redirects to the login page if the user isn't authenticated.
    REMOVE THIS IF YOUR ARE NOT USING DOMINO AUTHENTICATION. -->
<link rel="import" href="../../bower_components/now-domino-auth/now-domino-auth.html">

<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">

<link rel="import" href="../my-view1/my-view1.html">
<link rel="import" href="../my-view2/my-view2.html">
<link rel="import" href="../my-view3/my-view3.html">

<dom-module id="my-app">
	<template>
		<style include="shared-styles iron-flex iron-flex-alignment iron-flex-reverse">
			.emphasis {
				font-style: italic;
			}
		</style>

		<now-basic-app-layout id="appLayout" title="Red Pill Starter Kit"
							  logo="../../images/SA_Header_Logo.png"
							  footer-logo="../images/RPN_Footer_logo.png"
							  copyright-notice="&copy; 2016 Red Pill Now. All Rights Reserved."
							  use-hash-as-path
							  home-route="/view1">
			<div header-content>Header content. Can include <span class="emphasis">whatever</span> you need.</div>
			<neon-animatable title="View One" data-route="view1">
				<my-view1></my-view1>
			</neon-animatable>
			<neon-animatable title="View Two" data-route="view2" data-avatar-letter="T">
				<my-view2></my-view2>
			</neon-animatable>
			<neon-animatable title="View Three" data-route="view3" data-invisible>
				<my-view3></my-view3>
			</neon-animatable>
		</now-basic-app-layout>
	</template>
</dom-module>

<script type="text/javascript" src="my-app.js"></script>
