<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../my-text-manipulator/my-text-manipulator.html">

<dom-module id="my-view2">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
		</style>
		<div class="card">
			<div class="circle">2</div>
			<h1>View 2</h1>
			<my-text-manipulator
				text="Ut labores minimum atomorum pro. Laudem tibique ut has."></my-text-manipulator>
			<p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id
				adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>
			<my-text-manipulator reverse number-of-repitions="3"
								 text="Ut labores minimum atomorum pro. Laudem tibique ut has."></my-text-manipulator>
		</div>
	</template>
</dom-module>

<script type="text/javascript" src="my-view2.js"></script>
